* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden; /* Empêcher le défilement */
}

#game-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#gameCanvas {
  background-color: #87ceeb;
  border: 5px solid #000;
  display: block;
  width: 100%;
  height: 100%;
}

#controls {
  position: fixed;
  top: 10px;
  left: 10px;
}

#score {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
  margin: 0;
}

#level {
  position: fixed;
  top: 50px; /* Adjust this value to position the level below the score */
  right: 10px;
  font-size: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
  margin: 0;
}

#bestScore {
  position: fixed;
  top: 90px; /* Adjust this value to position the best score below the level */
  right: 10px;
  font-size: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
  margin: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.instructions-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.instructions-content h2 {
  margin-bottom: 20px;
}

.instructions-content p {
  margin-bottom: 10px;
}

.instructions-content button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
